<form [formGroup]="registerForm" (ngSubmit)="onSignup()" class="register-form">
        <h1>Register form:</h1>
        <div class="register-group">
            <label for="reg-username">Username:</label>
            <input type="text" id="reg-username" formControlName="username" class="register-input" placeholder="Username">
            <div *ngIf="registerForm.controls['username'].invalid && registerForm.controls['username'].touched">Username must be at least 4 characters long.</div>
        </div>
        <div class="register-group">
            <label for="reg-password">Password:</label>
            <input type="password" id="reg-password" formControlName="password" class="register-input" placeholder="Password">
            <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">Password is required.</div>
        </div>
        <div class="register-group">
            <label for="reg-repeat-password">Repeat password:</label>
            <input type="password" id="reg-repeat-password" formControlName="repeatPassword" class="register-input" placeholder="Repeat password">
            <div *ngIf="registerForm.errors?.['notSame'] && registerForm.controls['repeatPassword'].touched">Passwords must match.</div>
        </div>
        <div class="register-group">
            <label for="reg-email">Email:</label>
            <input type="email" id="reg-email" formControlName="email" class="register-input" placeholder="Email">
            <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">Please enter a valid email.</div>
        </div>
        <div class="register-button-group">
            <div *ngIf="formError" class="error-message">
                {{ formError }}
            </div>
            <button type="submit" class="register-submit-button">Register</button>
        </div>
        <br>
        <a routerLink="/login">Back to login form</a>
    </form>
